In [1]:
from urllib.request import Request, urlopen
from zipfile import ZipFile
from io import BytesIO

import pandas as pd

# Analysis on Climate Change

Gökçe Şahin (sahingo@itu.edu.tr, 090190306)

## Datasets

1. FAOSTAT (Food and Agriculture Organization of the United Nations)
    - [Temperature Change](https://www.fao.org/faostat/en/#data/ET)
    - [Emissions Shares](https://www.fao.org/faostat/en/#data/EM)
    - [Emissions Intensities](https://www.fao.org/faostat/en/#data/EI)
    - [Macro Indicators](https://www.fao.org/faostat/en/#data/MK)
2. NASA Goddard Space Flight Center
    - [Global Mean Sea Level](https://www.kaggle.com/datasets/kkhandekar/global-sea-level-1993-2021)

### FAOSTAT Temperature Change

In [2]:
req = Request(
    url='https://fenixservices.fao.org/faostat/static/bulkdownloads/Environment_Temperature_change_E_All_Data_(Normalized).zip', 
    headers={'User-Agent': 'Mozilla/5.0'}
)

with urlopen(req) as url:
        zfile = ZipFile(BytesIO(url.read()))
        zfile.namelist()
        data = pd.read_csv(zfile.open('Environment_Temperature_change_E_All_Data_(Normalized).csv'), encoding='latin')

data

,Area Code,Area Code (M49),Area,Months Code,Months,Element Code,Element,Year Code,Year,Unit,Value,Flag
0,2,'004,Afghanistan,7001,January,7271,Temperature change,1961,1961,°C,0.786,E
1,2,'004,Afghanistan,7001,January,7271,Temperature change,1962,1962,°C,0.039,E
2,2,'004,Afghanistan,7001,January,7271,Temperature change,1963,1963,°C,2.718,E
3,2,'004,Afghanistan,7001,January,7271,Temperature change,1964,1964,°C,-5.226,E
4,2,'004,Afghanistan,7001,January,7271,Temperature change,1965,1965,°C,1.889,E
...,...,...,...,...,...,...,...,...,...,...,...,...
544709,5873,'198,OECD,7020,Meteorological year,6078,Standard Deviation,2017,2017,°C,0.260,E
544710,5873,'198,OECD,7020,Meteorological year,6078,Standard Deviation,2018,2018,°C,0.260,E
544711,5873,'198,OECD,7020,Meteorological year,6078,Standard Deviation,2019,2019,°C,0.260,E
544712,5873,'198,OECD,7020,Meteorological year,6078,Standard Deviation,2020,2020,°C,0.260,E
544713,5873,'198,OECD,7020,Meteorological year,6078,Standard Deviation,2021,2021,°C,0.260,E

## Hypotheses
1. Winter temperature has more variance than summer.
2. Developed countries are more affected by climate change.
    - 10 most affected countries in the last ten years
    - 10 least affected countries in the last ten years
3. Global temperature is rising.

### Project Plan
1. Research on climate change 
2. Determining the questions to be asked on the subject
3. Selection of appropriate datasets and models
4. Asking questions to the data and getting answers
5. Visualization of the results obtained
6. Interpretation of the result

## Calendar
| Date | A |
| --- | --- |
| 25 November 2022 | Cleane faostat's temperature change data |
| 4 December 2022 | Turkey vs. World yearly temperature change graph |
| 11 December 2022 | Describe temperature change by linear regression model |
| 17 December 2022 | Create a map for world's average temperature change between 2012 and 2021|
| 20 December 2022 | Find the 10 most and least affected countries |
| 21 December 2022 | Compare Annex 1 and Non-Annex 1 countries |
| 24 December 2022 | Compare seasonal temperature change |
| 25 December 2022 | Create heatmap of average temperature change and GDP between 2010 and 2020 |

## Atabey's notes 

You have a clear set of questions and hypotheses. You also have a good understanding of which algorithms are going to help you to answer the questions you are asking. 

Looks good. Go ahead!

Some questions still need to be answered, but I'll wait them to be answered in the final project.