In [12]:
import geopandas

import pandas as pd

from urllib.request import Request, urlopen
from zipfile import ZipFile
from io import BytesIO

# Analysis on Climate Change

Gökçe Şahin (sahingo@itu.edu.tr, 090190306)

## Datasets

1. FAOSTAT (Food and Agriculture Organization of the United Nations)
    - [Temperature Change](https://www.fao.org/faostat/en/#data/ET)
    - [Macro Indicators](https://www.fao.org/faostat/en/#data/MK)
2. Geopandas datasets
    - naturalearth_lowres

In [13]:
def get_faostat_data(fao_url, file_name):
    req = Request(
        url = fao_url, 
        headers = {'User-Agent': 'Mozilla/5.0'}
    )

    with urlopen(req) as url:
        zfile = ZipFile(BytesIO(url.read()))
        data = pd.read_csv(zfile.open(file_name), encoding='latin')

    return data

### FAOSTAT Temperature Change

In [14]:
# months code
# 7001-7012 months
# 7016-7019 3-months
# 7020 year

In [15]:
temp_data = get_faostat_data('https://fenixservices.fao.org/faostat/static/bulkdownloads/Environment_Temperature_change_E_All_Data_(Normalized).zip',
                             'Environment_Temperature_change_E_All_Data_(Normalized).csv')
        
temp_data

,Area Code,Area Code (M49),Area,Months Code,Months,Element Code,Element,Year Code,Year,Unit,Value,Flag
0,2,'004,Afghanistan,7001,January,7271,Temperature change,1961,1961,°C,0.786,E
1,2,'004,Afghanistan,7001,January,7271,Temperature change,1962,1962,°C,0.039,E
2,2,'004,Afghanistan,7001,January,7271,Temperature change,1963,1963,°C,2.718,E
3,2,'004,Afghanistan,7001,January,7271,Temperature change,1964,1964,°C,-5.226,E
4,2,'004,Afghanistan,7001,January,7271,Temperature change,1965,1965,°C,1.889,E
...,...,...,...,...,...,...,...,...,...,...,...,...
544709,5873,'198,OECD,7020,Meteorological year,6078,Standard Deviation,2017,2017,°C,0.260,E
544710,5873,'198,OECD,7020,Meteorological year,6078,Standard Deviation,2018,2018,°C,0.260,E
544711,5873,'198,OECD,7020,Meteorological year,6078,Standard Deviation,2019,2019,°C,0.260,E
544712,5873,'198,OECD,7020,Meteorological year,6078,Standard Deviation,2020,2020,°C,0.260,E
544713,5873,'198,OECD,7020,Meteorological year,6078,Standard Deviation,2021,2021,°C,0.260,E

### FAOSTAT Macro Indicators

In [16]:
macro_ind_data = get_faostat_data('https://fenixservices.fao.org/faostat/static/bulkdownloads/Macro-Statistics_Key_Indicators_E_All_Data_(Normalized).zip',
                                  'Macro-Statistics_Key_Indicators_E_All_Data_(Normalized).csv')
                                
macro_ind_data

,Area Code,Area Code (M49),Area,Item Code,Item,Element Code,Element,Year Code,Year,Unit,Value,Flag,Note
0,2,'004,Afghanistan,22008,Gross Domestic Product,6109,Value Local Currency,1970,1970,millions,77.911878,X,NaN
1,2,'004,Afghanistan,22008,Gross Domestic Product,6109,Value Local Currency,1971,1971,millions,81.574837,X,NaN
2,2,'004,Afghanistan,22008,Gross Domestic Product,6109,Value Local Currency,1972,1972,millions,74.152916,X,NaN
3,2,'004,Afghanistan,22008,Gross Domestic Product,6109,Value Local Currency,1973,1973,millions,76.619555,X,NaN
4,2,'004,Afghanistan,22008,Gross Domestic Product,6109,Value Local Currency,1974,1974,millions,92.774575,X,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
658219,5817,'902,Net Food Importing Developing Countries,22011,Gross National Income,6163,"Ratio of Value Added (Agriculture, Forestry an...",2016,2016,NaN,6.759811,E,NaN
658220,5817,'902,Net Food Importing Developing Countries,22011,Gross National Income,6163,"Ratio of Value Added (Agriculture, Forestry an...",2017,2017,NaN,6.591877,E,NaN
658221,5817,'902,Net Food Importing Developing Countries,22011,Gross National Income,6163,"Ratio of Value Added (Agriculture, Forestry an...",2018,2018,NaN,6.996136,E,NaN
658222,5817,'902,Net Food Importing Developing Countries,22011,Gross National Income,6163,"Ratio of Value Added (Agriculture, Forestry an...",2019,2019,NaN,6.992809,E,NaN
658223,5817,'902,Net Food Importing Developing Countries,22011,Gross National Income,6163,"Ratio of Value Added (Agriculture, Forestry an...",2020,2020,NaN,6.487359,E,NaN

### Geopandas Datasets: naturalearth_lowres

In [17]:
country_geopandas = geopandas.read_file(geopandas.datasets.get_path('naturalearth_lowres'))[['name', 'geometry']]

country_geopandas

,name,geometry
0,Fiji,"MULTIPOLYGON (((180.00000 -16.06713, 180.00000..."
1,Tanzania,"POLYGON ((33.90371 -0.95000, 34.07262 -1.05982..."
2,W. Sahara,"POLYGON ((-8.66559 27.65643, -8.66512 27.58948..."
3,Canada,"MULTIPOLYGON (((-122.84000 49.00000, -122.9742..."
4,United States of America,"MULTIPOLYGON (((-122.84000 49.00000, -120.0000..."
...,...,...
172,Serbia,"POLYGON ((18.82982 45.90887, 18.82984 45.90888..."
173,Montenegro,"POLYGON ((20.07070 42.58863, 19.80161 42.50009..."
174,Kosovo,"POLYGON ((20.59025 41.85541, 20.52295 42.21787..."
175,Trinidad and Tobago,"POLYGON ((-61.68000 10.76000, -61.10500 10.890..."
176,S. Sudan,"POLYGON ((30.83385 3.50917, 29.95350 4.17370, ..."

## Hypotheses
1. Global temperature is rising.
2. Developed countries are more affected by climate change.
    - Annex I vs Non-Annex I countries
    - 10 most affected countries in the last ten years
    - 10 least affected countries in the last ten years
3. Winter temperature change has more variance than summer.

### Project Plan
1. Research on climate change 
2. Determining the questions to be asked on the subject
3. Selection of appropriate datasets and models
4. Asking questions to the data and getting answers
5. Visualization of the results obtained
6. Interpretation of the result

## Calendar
| Date | Task |
| --- | --- |
| 25 November 2022 | Cleane faostat's temperature change data |
| 4 December 2022 | Turkey vs. World yearly temperature change graph |
| 11 December 2022 | Describe temperature change by linear regression model |
| 17 December 2022 | Create a map for world's average temperature change between 2012 and 2021|
| 20 December 2022 | Find the 10 most and least affected countries |
| 21 December 2022 | Compare Annex 1 and Non-Annex 1 countries |
| 24 December 2022 | Compare seasonal temperature change |
| 25 December 2022 | Create heatmap of average temperature change and GDP between 2010 and 2020 |
| 28 December 2022 | Show that winter temperature change has more variance than summer |
| 29 December 2022 | Review for the last time |

## Atabey's notes 

You have a clear set of questions and hypotheses. You also have a good understanding of which algorithms are going to help you to answer the questions you are asking. 

Looks good. Go ahead!

Some questions still need to be answered, but I'll wait them to be answered in the final project.